<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org" lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Fresh Votes Home</title>
  </head>
  <body>
      <div th:replace="fragments/header :: headerElement"></div>
      <div class="container">
          <div class="row mt-4" th:each="product : ${allproducts}">
              <div class="col">
                  <div class="card">
                    <!-- ====== heading ============ -->
                     <div th:text="${product.name}" class="card-header">
                      Featured
                    </div>
                    
                    <div class="card-body">
                          <p>
                            <a class="btn btn-primary" data-toggle="collapse" th:href="|#collapseExample${product.id}|" role="button" aria-expanded="false" aria-controls="collapseExample">
                              Add Feature
                            </a>
                          </p>
                        <div class="collapse" th:id="|collapseExample${product.id}|">
                            <div class="card col-4 card-body">
                                <input id="title" name="title" class="form-control form-control-sm m-1" type="text" placeholder="Feature Title">
                               <div class="input-group">
                                    <textarea placeholder="Feature Description" class="form-control" aria-label="With textarea"></textarea>
                               </div>
                               <button type="submit" class="btn btn-primary m-1">Add</button>        
                            </div>
                        </div>
                        </form>
                       
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </body>
</html>